.navContainer {
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.Navbar {
	display: flex;
	max-width: 740px;
	width: 70%;
	list-style: none;
	justify-content: space-between;
	padding: 0;
}

.Navbar a {
	height: 100%;
	display: flex;
	align-items: center;
	transition: 0.4s;
}

.Navbar a:hover {
	color: var(--orange);
	transform: scale(1.1);
}

.navLinkContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navLinkContainer a {
	text-decoration: none;
	color: var(--dark);
	font-size: 1.5em;
	line-height: 29px;
	padding: 0 10px
}

.brandName a {
	font-size: 4em;
	line-height: 80px;
	font-family: "Lobster";
	white-space: nowrap;
}

.IconBar {
	display: flex;
	list-style: none;
	font-size: 1.5em;
	color: var(--dark);
	position: absolute;
	right: 40px;
}

.IconBar li {
	padding: 0px 15px;
}

.IconBar li:hover {
	cursor: pointer;
}

.IconBar li svg {
	transition: 0.4s;
}

.IconBar li:hover svg {
	color: var(--orange);
	transform: scale(1.1);
}

.MoboBarContainer {
	position: fixed;
	height: 100vh;
	z-index: 9999;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	filter: drop-shadow(4px 6px 5px #32320080);
}

.MoboNavbar {
	height: 100vh;
	list-style: none;
	background-color: white;
	z-index: 9999;
	margin: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 80%;
	padding: 0;
	clip-path: polygon(0 0, 78% 0, 65% 100%, 0% 100%);
	font-size: 2.5em;
	text-align: right;
}

.MoboNavLinkContainer {
	margin-right: 50%;
}

.MoboNavLinkContainer:first-of-type {
	margin-right: calc(35% - 20px);
}

.MoboNavLinkContainer:nth-of-type(2) {
	margin-right: calc(35% - 14px);
}

.MoboNavLinkContainer:nth-of-type(3) {
	margin-right: calc(35% - 11px);
}

.MoboNavLinkContainer:nth-of-type(4) {
	margin-right: calc(35% - 6px);
}

.MoboNavLinkContainer:last-of-type {
	margin-right: calc(35%);
}

.MoboNavLinkContainer a {
	color: var(--dark);
	font-weight: 600;
}



@media (max-width:1024px) {
	.IconBar li {
		padding: 0px 10%;
	}
}

@media (max-width:800px) {
	.navContainer {
		justify-content: space-evenly;
	}

	.IconBar {
		position: relative;
		right: unset;
		padding: 0;
		font-size: 2em;
	}

	.LeftElements {
		display: flex;
		font-size: 2em;
	}

	.LeftElements div:hover {
		color: var(--orange);
		cursor: pointer;
		transform: scale(1.2);
	}

	.IconBar li:hover {
		transform: scale(1.2);
	}

	.LeftElements div,
	.IconBar li {
		padding: 0 20px;
		transition: 0.4s;
	}

	.navLinkContainer a {
		transition: 0.3s;
	}

	.navLinkContainer:hover a {
		color: var(--orange);
		transform: scale(1.2);
	}
}

@media (max-width:500px) {

	.LeftElements,
	.IconBar {
		font-size: 1.5em;
	}

	.LeftElements div,
	.IconBar li {
		padding: 0 10px;
	}
}